$def with(user,is_git_auth,project,charts)
$var user = user
$var is_git_auth = is_git_auth
$var project = project

<!-- Extra -->
<link rel="stylesheet" type="text/css" href="./static/css/yasgui.css">
<script src='static/js/yasr.bundled.min.js'></script>
<script src='static/js/yasqe.bundled.min.js'></script>
<script src="static/js/sparql.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="static/js/charts.js"></script>

<!-- Header -->
<header class="row">
	<h3 class="col-md-12 col-lg-12 col-sm-12">Generate explorative charts</h3>
</header>
<!-- Form and Tips -->
<section class="corners row set_template_field">
    <!-- Charts generator Form -->
	<section class="col-md-8 col-lg-8 col-sm-8">
        <form id="chartForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
            <section class="row">
                <section class="sortable homeheading col-md-12 col-lg-12 col-sm-12">
                    $if charts:
                        $for chart in charts["charts"]:
                            $ id = chart["id"]
                            $ type = chart["type"]
                            <section class="block_field">
                                <!-- TYPE -->
                                <section class="row">
                                    <label class="col-md-3">CHART TYPE</label>
                                    <select onchange="changeChart(this)" class="col-md-8 custom-select" name="type__$id" id="type__$id">
                                        <option value="None">Select</option>
                                        <option value="counter">Counter</option>
                                        <option value="bar-chart">Bar chart</option>
                                    </select>
                                </section>
                                <script>
                                    $$("#type__$id option[value='$type']").attr("selected","selected");
                                </script>
                                <!-- TITLE -->
                                <section class="row">
                                    <label class="col-md-3">TITLE</label>
                                    <input type="text" id="title__$id" class="col-md-8 align-self-start" name="title__$id" value="$chart['title']"/>
                                </section>
                                <!-- DESCRIPTION -->
                                <section class="row">
                                    <label class="col-md-3">DESCRIPTION</label>
                                    <textarea id="description__$id" class="col-md-8 align-self-start" name="description__$id">$chart['description']</textarea>
                                </section>
                                $if type == "counter":
                                    <!-- COUNTERS -->
                                    <section class="row">
                                        <label class="col-md-3">COUNTERS<br><span class="comment">define one or multiple counters</span></label>
                                        <section class="col-md-8">  
                                            <ul class="col-md-12 charts-list" id="counters__$id">
                                                <li>
                                                    <label class='inner-label col-md-12'>Counters list</label>\
                                                </li>
                                                $for counter in chart["counters"]:
                                                    <li><label>$counter["title"] <i class="far fa-edit" onclick="modifyCounter(this)"></i></label></li>
                                                <li><label class="add-option">Add new counter <i class="fas fa-plus-circle" onclick="addCounter(this)"></i></label></li>
                                            </ul>
                                        </section>
                                    </section>
                                $else:
                                    <!-- QUERY -->
                                    <section class="row">
                                        <label class="col-md-3">QUERY<br><span class="comment">set a SPARQL query to retrieve data</span></label>
                                        <section class="col-md-8 align-self-start">
                                            <div id="yasqe-$id" class="col-md-12 charts-yasqe"></div>
                                        </section>
                                    </section>
                                    <script type="text/javascript">
                                        generateYASQE("yasqe-$id", `$chart['query']`);
                                    </script>
                                    <!-- X-Axis -->
                                    <section class="row">
                                        <label class="col-md-3">X-AXIS<br><span class="comment">set the SPARQL variable to be shown in the X-Axis</span></label>
                                        <section class="col-md-3">
                                            <label class="inner-label">SPARQL variable</label>
                                            <input type="text" id="x-var__$id" name="x-var__$id" value="$chart['x-axis'].split(',',1)[0]"/>
                                        </section>
                                        <section class="col-md-3">
                                            <label class="inner-label">Display name</label>
                                            <input type="text" id="x-name__$id" name="x-name__$id" value="$chart['x-axis'].split(',',1)[1]"/>
                                        </section>
                                        <section class="col-md-2 center-checkbox">
                                            <label class="inner-label">Sort by X</label>
                                            <input type="checkbox" id="x-sort__$id" name="x-sort__$id" onclick="sortChart('$id')"/>
                                        </section>
                                    </section>
                                    <!-- Y-Axis -->
                                    <section class="row">
                                        <label class="col-md-3">Y-AXIS<br><span class="comment">set the SPARQL variable to be shown in the Y-Axis</span></label>
                                        <section class="col-md-3">
                                            <label class="inner-label">SPARQL variable</label>
                                            <input type="text" id="y-var__$id" name="y-var__$id" value="$chart['y-axis'].split(',',1)[0]"/>
                                        </section>
                                        <section class="col-md-3">
                                            <label class="inner-label">Display name</label>
                                            <input type="text" id="y-name__$id" name="y-name__$id" value="$chart['y-axis'].split(',',1)[1]"/>
                                        </section>
                                        <section class="col-md-2 center-checkbox">
                                            <label class="inner-label">Sort by Y</label>
                                            <input type="checkbox" id="y-sort__$id" name="y-sort__$id" onclick="sortChart('$id')"/>
                                        </section>
                                    </section>
                                    <!-- VARIABLES -->
                                    <section class="row">
                                        <label class="col-md-3">VARIABLES TYPE<br><span class="comment">specify the type variable</span></label>
                                        <section class="col-md-3">
                                            <label class="inner-label">X-axis variable</label>
                                            <label>Categorical</label>
                                            <input type="radio" id="x-categorical__$id" name="x-categorical__$id"/>
                                            <br>
                                            <label>Quantitative</label>
                                            <input type="radio" id="x-quantitative__$id" name="x-quantitative__$id"/>
                                        </section>
                                        <section class="col-md-3">
                                            <label class="inner-label">Y-axis variable</label>
                                            <label>Categorical</label>
                                            <input type="radio" id="y-categorical__$id" name="y-categorical__$id"/>
                                            <br>
                                            <label>Quantitative</label>
                                            <input type="radio" id="y-quantitative__$id" name="y-quantitative__$id"/>
                                        </section>
                                    </section>
                                    $if "sorted" in chart:
                                        <script type="text/javascript">
                                            $$("#$chart['sorted']"+"-sort__$id").attr('checked', 'checked');
                                        </script>
                                <!-- ARROW + DELETE BUTTONS -->
                                <a href="#" class="up"><i class="fas fa-arrow-up"></i></a> <a href="#" class="down"><i class="fas fa-arrow-down"></i></a>
                                <a href="#" class="trash"><i class="far fa-trash-alt"></i></a>
                            </section>
                </section>
            </section>
            <!-- Buttons section -->
            <section class="buttonsSection">
                <button id="addChart" name="action" value="addChart" class="btn btn-dark" type="submit">Add New Chart</button>
				<button id="updateTemplate" name="action" value="updateTemplate" class="btn btn-dark" type="submit">Save Charts</button>
				<button class="btn btn-dark delete_template" data-toggle="modal" data-target="#popup" name="action" value="deleteTemplate" type="submit" title="delete">Reset Charts <i class="far fa-trash-alt"></i></button>
			</section>
        </form>
    </section>
    <!-- Tips -->
    <section class="homeheading col-md-4 col-sm-4 col-lg-4">
		<p class="caption">Tips</p>
        <p>You can create your charts template for data visualization in few easy steps! Select the chart type and provide some information</p>
		<h5>Counter</h5>
        <p>Provide one or multiple SPARQL queries to get the count of meaningful entities collected within the Knowledge Graph.</p>
        <h5>Bar-chart</h5>
        <p>Provide a SPARQL query</p>
	</section>
</section>