$def with(user,is_git_auth,project,charts,main_lang)
$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var main_lang = main_lang

<!-- Extra -->
<link rel="stylesheet" type="text/css" href="./static/css/yasgui.css">
<script src='static/js/yasr.bundled.min.js'></script>
<script src='static/js/yasqe.bundled.min.js'></script>
<script src="static/js/sparql.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Header -->
<header class="row">
	<h3 class="col-md-12 col-lg-12 col-sm-12">Generate charts and visualizations</h3>
</header>
<!-- Form and Tips -->
<section class="corners row set_template_field">
    <!-- Charts generator Form -->
	<section class="col-md-8 col-lg-8 col-sm-8">
        <form id="chartForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
            <section class="row">
                <section class="sortable homeheading col-md-12 col-lg-12 col-sm-12">
                    $if charts:
                        $for chart in charts["charts"]:
                            $ id = chart["id"]
                            $ type = chart["type"]
                            <section class="block_field">
                                <!-- TYPE -->
                                <section class="row">
                                    <label class="col-md-3">TYPE</label>
                                    <select onchange="changeVisualization(this)" class="col-md-8 custom-select" name="type__$id" id="type__$id">
                                        <option value="None">Select a visualization type</option>
                                        <option value="counter">Counter</option>
                                        <option value="chart">Chart</option>
                                        <option value="map">Map</option>
                                    </select>
                                </section>
                                <script>
                                    $$("#type__$id option[value='$type']").attr("selected","selected");
                                </script>
                                <!-- TITLE -->
                                <section class="row">
                                    <label class="col-md-3">TITLE</label>
                                    <input type="text" id="title__$id" class="col-md-8 align-self-start" name="title__$id" value="$chart['title']"/>
                                </section>
                                <!-- DESCRIPTION -->
                                <section class="row">
                                    <label class="col-md-3">DESCRIPTION</label>
                                    <textarea id="description__$id" class="col-md-8 align-self-start" name="description__$id">$chart['description']</textarea>
                                </section>
                                $if type == "counter":
                                    <!-- COUNTERS -->
                                    <section class="row">
                                        <label class="col-md-3">COUNTERS<br><span class="comment">define one or multiple counters</span></label>
                                        <section class="col-md-8">  
                                            <ul class="col-md-12 charts-list" id="counters__$id">
                                                <li>
                                                    <label class='inner-label col-md-12'>Counters list</label>\
                                                </li>
                                                $for counter in chart["counters"]:
                                                    <li>
                                                        <label>$counter["title"] <i class="far fa-edit" onclick="modifyCounter(this)"></i> <i class="far fa-trash-alt" onclick="removeCounter(this)"></i></label>
                                                        <input type="hidden" id="$counter['id']" name="$counter['id']" value="$counter['query']"/>
                                                    </li>
                                                <li><label class="add-option">Add new counter <i class="fas fa-plus-circle" onclick="addCounter(this, '$id')"></i></label></li>
                                            </ul>
                                        </section>
                                    </section>
                                $elif type == "map":
                                    <!-- MAP TYPE -->
                                    $ map_type = chart["mapType"]
                                    <section class="row">
                                        <label class="col-md-3">MAP TYPE</label>
                                        <select onchange="changeMapType(this)" class="col-md-8 custom-select" name="mapType__$id" id="mapType__$id">
                                            <option value="None">Select a map type</option>
                                            <option value="common-map">Simple Map</option>
                                            <option value="drilldown-map">Drill-down Map</option>
                                        </select>
                                    </section>
                                    <script>
                                        $$("#mapType__$id option[value='$map_type']").attr("selected","selected");
                                    </script>
                                    <!-- QUERY -->
                                    <section class="row">
                                        <label class="col-md-3">QUERY<br><span class="comment">set a SPARQL query to retrieve data, where locations can be represented either as GeoNames entities or as latitude-longitude pairs</span></label>
                                        <section class="col-md-8 align-self-start">
                                            <div id="yasqe-$id" class="col-md-12 charts-yasqe"></div>
                                        </section>
                                    </section>
                                    <script type="text/javascript">
                                        generateYASQE("yasqe-$id", `$chart['query']`);
                                    </script>
                                $elif type == "chart":
                                    <!-- CHART TYPE -->
                                    $ chart_type = chart["chartType"]
                                    <section class="row">
                                        <label class="col-md-3">CHART TYPE</label>
                                        <select onchange="changeVisualizationType(this)" class="col-md-8 custom-select" name="chartType__$id" id="chartType__$id">
                                            <option value="None">Select a chart type</option>
                                            <option value="bar">Bar Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="donut">Donut Chart</option>
                                            <option value="semi-circle">Semi-circle Chart</option>
                                        </select>
                                    </section>
                                    <script>
                                        $$("#chartType__$id option[value='$chart_type']").attr("selected","selected");
                                    </script>
                                    <!-- QUERY -->
                                    <section class="row">
                                        <label class="col-md-3">QUERY<br><span class="comment">set a SPARQL query to retrieve data (two variables required)</span></label>
                                        <section class="col-md-8 align-self-start">
                                            <div id="yasqe-$id" class="col-md-12 charts-yasqe"></div>
                                        </section>
                                    </section>
                                    <script type="text/javascript">
                                        generateYASQE("yasqe-$id", `$chart['query']`);
                                    </script>
                                    $if chart_type == "bar":
                                        <!-- X-AXIS -->
                                        <section class="row">
                                            <label class="col-md-3">X-AXIS<br><span class="comment">set the SPARQL variable to be shown in the X-Axis</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="x-var__$id" name="x-var__$id" value="$chart['x-var']"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="x-name__$id" name="x-name__$id" value="$chart['x-name']"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="x-sort__$id" name="x-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                        <!-- Y-AXIS -->
                                        <section class="row">
                                            <label class="col-md-3">Y-AXIS<br><span class="comment">set the SPARQL variable to be shown in the Y-Axis</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="y-var__$id" name="y-var__$id" value="$chart['y-var']"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="y-name__$id" name="y-name__$id" value="$chart['y-name']"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="y-sort__$id" name="y-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                    $elif chart_type in ["pie", "donut", "semi-circle"]:
                                        <!-- 1st variable -->
                                        <section class="row">
                                            <label class="col-md-3">1st VARIABLE<br><span class="comment">set a SPARQL variable</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="x-var__$id" name="x-var__$id" value="$chart['x-var']"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="x-name__$id" name="x-name__$id" value="$chart['x-name']"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="x-sort__$id" name="x-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                        <!-- 2nd variable -->
                                        <section class="row">
                                            <label class="col-md-3">2nd VARIABLE<br><span class="comment">set a SPARQL variables</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="y-var__$id" name="y-var__$id" value="$chart['y-var']"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="y-name__$id" name="y-name__$id" value="$chart['y-name']"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="y-sort__$id" name="y-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                    <!-- LEGEND -->
                                    <section class="row">
										$ legend = "checked=checked" if "legend" in chart and chart["legend"] == "True" else ""
										<label class="left col-md-11 col-sm-6" for="legend__$id">Show legend</label>
										<input $legend type="checkbox" id="legend__$id" name="legend__$id">
									</section>
                                    <!-- SCRIPT -->
                                    $if "sorted" in chart:
                                        <script type="text/javascript">
                                            $$("#$chart['sorted']-sort__$id").prop("checked", true);
                                        </script>
                                <!-- ARROW + DELETE BUTTONS -->
                                <a href="#" class="up"><i class="fas fa-arrow-up"></i></a> 
                                <a href="#" class="down"><i class="fas fa-arrow-down"></i></a>
                                <a href="#" class="preview"><i class="fas fa-eye"></i></a>
                                <a href="#" class="trash"><i class="far fa-trash-alt"></i></a>
                            </section>
                </section>
                <!-- Add Charts buttons -->
                <section class="add_fields homeheading col-md-12 col-lg-12 col-sm-12">
                    <a class="link_btn" onclick="addVisualization('counter')" name="add_counter">Add Counter</a>
                    <a class="link_btn" onclick="addVisualization('chart')" name="add_chart">Add Chart</a>
                    <a class="link_btn" onclick="addVisualization('map')" name="add_map">Add Map</a>
                </section>
            </section>
            <!-- Buttons section -->
            <section class="buttonsSection">
                <input type="hidden" class="hiddenInput" name="action" value="updateTemplate">
				<button id="updateTemplate" name="action" value="updateTemplate" class="btn btn-dark" type="submit">Save Charts</button>
				<button class="btn btn-dark delete_template" data-toggle="modal" data-target="#popup" name="action" value="deleteTemplate" type="submit" title="delete">Reset Charts <i class="far fa-trash-alt"></i></button>
			</section>
        </form>
    </section>
    <!-- Tips -->
    <section class="homeheading col-md-4 col-sm-4 col-lg-4">
		<p class="caption">Tips</p>
        <p>You can create your charts template for data visualization in few easy steps! Select the visualization type you prefer and provide some information to shape your data.<br>Thanks to the preview function, you can check your visualizations in advance. Additionally, you can customize your captions by using HTML tags (e.g.:<code>&lt;a href=""&gt;&lt;/a&gt;</code> for links).</p>
		<h5>Counter</h5>
        <p>Enter one or multiple SPARQL queries to retrieve counts of key entities within the Knowledge Graph. Each counter will include a label along with the total number of items retrieved by the query.</p>
        <p><em>Suggestion:</em> to retrieve the desired counter value, assign the name <code>?count</code> to your SPARQL variable.</p>
        <h5>Chart</h5>
        <p>customize your data by choosing your preferred visualization. Multiple solutions are available, each of them including optional features, such as a legend and value sorting:</p>
        <p><code>Bar Chart</code>: display your data in a bar chart format. Provide a query to retrieve a categorical variable and a quantitative one. You can assign each variable to either the X-axis or Y-axis. Results can also be sorted based on the values of an axis.</p>
        <p><code>Pie Chart</code>: showcase your data in a pie chart. Provide a query to obtain a categorical variable, representing the labels and the counts of each slices, and a quantitative variable to determine slice sizes.</p>
        <p><code>Donut Chart</code>: visualize your data with a donut chart. Like the pie chart, use a SPARQL query to retrieve a categorical variable for slice labels and counts, and a quantitative variable for slice sizes. The donut's central radius is fixed by default.</p>
        <p><code>Semi-circle Chart</code>: similar to a donut chart, a semi-circle chart represents data in a half-circle format, displaying values within a semi-circular arc. Use a query to retrieve a categorical variable for slice labels and counts, along with a quantitative variable for slice sizes.</p>
        <p><em>Suggestion:</em> assign the names <code>?label</code> and <code>?count</code> to your SPARQL variables to distinguish between retrieving categorical values and quantitative values.</p>
        <h5>Map</h5>
        <p>Maps allow displaying data points distribution and locations.</p>
        <p><code>Map</code>: the basic map option displays data point on a map independently of their counts. A SPARQL query must be provided to retrieve a set of locations and their labels. Multiple occurrences will be ignored, as this map type does not support quantitative data. Use your query to either retrieve geonames entities or coordinates</p>  
        <p><code>Drill-down Map</code>: this advanced option supports quantitative analysis for locations. Use a SPARQL query to retrieve geographical coordinates (latitude and longitude) or geonames locations, enabling detailed exploration of data points by location.</p>
        <p><em>Suggestion:</em> you can retrieve geographical locations either as GeoNames URIs (using <code>?geonames</code>) or as latitude-longitude pairs (using <code>?lat</code> and <code>?long</code>). Corresponding labels (<code>?label</code>) are mandatory, while the number of occurrences (<code>?count</code>) is only required for Drill-down Maps.</p>
    </section>
    <section style="display:none; width:90vw; position:absolute; height: 70vh; overflow:scroll; z-index: 3000;">
        <iframe src="/charts" style="width: 100vw;overflow: scroll;height: 100%;"></iframe>
    </section>
</section>