$def with(user,is_git_auth,project,charts)
$var user = user
$var is_git_auth = is_git_auth
$var project = project

<!-- Extra -->
<link rel="stylesheet" type="text/css" href="./static/css/yasgui.css">
<script src='static/js/yasr.bundled.min.js'></script>
<script src='static/js/yasqe.bundled.min.js'></script>
<script src="static/js/sparql.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Header -->
<header class="row">
	<h3 class="col-md-12 col-lg-12 col-sm-12">Generate explorative charts</h3>
</header>
<!-- Form and Tips -->
<section class="corners row set_template_field">
    <!-- Charts generator Form -->
	<section class="col-md-8 col-lg-8 col-sm-8">
        <form id="chartForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
            <section class="row">
                <section class="sortable homeheading col-md-12 col-lg-12 col-sm-12">
                    $if charts:
                        $for chart in charts["charts"]:
                            $ id = chart["id"]
                            $ type = chart["type"]
                            <section class="block_field">
                                <!-- TYPE -->
                                <section class="row">
                                    <label class="col-md-3">TYPE</label>
                                    <select onchange="changeVisualization(this)" class="col-md-8 custom-select" name="type__$id" id="type__$id">
                                        <option value="None">Select a visualization type</option>
                                        <option value="counter">Counter</option>
                                        <option value="chart">Chart</option>
                                        <option value="map">Map</option>
                                    </select>
                                </section>
                                <script>
                                    $$("#type__$id option[value='$type']").attr("selected","selected");
                                </script>
                                <!-- TITLE -->
                                <section class="row">
                                    <label class="col-md-3">TITLE</label>
                                    <input type="text" id="title__$id" class="col-md-8 align-self-start" name="title__$id" value="$chart['title']"/>
                                </section>
                                <!-- DESCRIPTION -->
                                <section class="row">
                                    <label class="col-md-3">DESCRIPTION</label>
                                    <textarea id="description__$id" class="col-md-8 align-self-start" name="description__$id">$chart['description']</textarea>
                                </section>
                                $if type == "counter":
                                    <!-- COUNTERS -->
                                    <section class="row">
                                        <label class="col-md-3">COUNTERS<br><span class="comment">define one or multiple counters</span></label>
                                        <section class="col-md-8">  
                                            <ul class="col-md-12 charts-list" id="counters__$id">
                                                <li>
                                                    <label class='inner-label col-md-12'>Counters list</label>\
                                                </li>
                                                $for counter in chart["counters"]:
                                                    <li>
                                                        <label>$counter["title"] <i class="far fa-edit" onclick="modifyCounter(this)"></i> <i class="far fa-trash-alt" onclick="removeCounter(this)"></i></label>
                                                        <input type="hidden" id="$counter['id']" name="$counter['id']" value="$counter['query']"/>
                                                    </li>
                                                <li><label class="add-option">Add new counter <i class="fas fa-plus-circle" onclick="addCounter(this, '$id')"></i></label></li>
                                            </ul>
                                        </section>
                                    </section>
                                $elif type == "map":
                                    <!-- QUERY -->
                                    <section class="row">
                                        <label class="col-md-3">QUERY<br><span class="comment">set a SPARQL query to retrieve data (two variables required)</span></label>
                                        <section class="col-md-8 align-self-start">
                                            <div id="yasqe-$id" class="col-md-12 charts-yasqe"></div>
                                        </section>
                                    </section>
                                    <script type="text/javascript">
                                        generateYASQE("yasqe-$id", `$chart['query']`);
                                    </script>
                                $elif type == "chart":
                                    $ chart_type = chart["chart_type"]
                                    <!-- CHART TYPE -->
                                    <section class="row">
                                        <label class="col-md-3">CHART TYPE</label>
                                        <select onchange="changeVisualizationType(this)" class="col-md-8 custom-select" name="chart__$id" id="chart__$id">
                                            <option value="None">Select a chart type</option>
                                            <option value="bar">Bar Chart</option>
                                            <option value="pie">Pie Chart</option>
                                            <option value="donut">Donut Chart</option>
                                            <option value="semi-circle">Semi-circle Chart</option>
                                        </select>
                                    </section>
                                    <script>
                                        $$("#chart__$id option[value='$chart_type']").attr("selected","selected");
                                    </script>
                                    <!-- QUERY -->
                                    <section class="row">
                                        <label class="col-md-3">QUERY<br><span class="comment">set a SPARQL query to retrieve data (two variables required)</span></label>
                                        <section class="col-md-8 align-self-start">
                                            <div id="yasqe-$id" class="col-md-12 charts-yasqe"></div>
                                        </section>
                                    </section>
                                    <script type="text/javascript">
                                        generateYASQE("yasqe-$id", `$chart['query']`);
                                    </script>
                                    $if chart_type == "bar":
                                        <!-- X-AXIS -->
                                        <section class="row">
                                            <label class="col-md-3">X-AXIS<br><span class="comment">set the SPARQL variable to be shown in the X-Axis</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="x-var__$id" name="x-var__$id" value="$chart['x-axis'].split(',',1)[0]"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="x-name__$id" name="x-name__$id" value="$chart['x-axis'].split(',',1)[1]"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="x-sort__$id" name="x-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                        <!-- Y-AXIS -->
                                        <section class="row">
                                            <label class="col-md-3">Y-AXIS<br><span class="comment">set the SPARQL variable to be shown in the Y-Axis</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="y-var__$id" name="y-var__$id" value="$chart['y-axis'].split(',',1)[0]"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="y-name__$id" name="y-name__$id" value="$chart['y-axis'].split(',',1)[1]"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="y-sort__$id" name="y-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                    $elif chart_type in ["pie", "donut", "semi-circle"]:
                                        <!-- 1st variable -->
                                        <section class="row">
                                            <label class="col-md-3">1st VARIABLE<br><span class="comment">set a SPARQL variable</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="x-var__$id" name="x-var__$id" value="$chart['x-axis'].split(',',1)[0]"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="x-name__$id" name="x-name__$id" value="$chart['x-axis'].split(',',1)[1]"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="x-sort__$id" name="x-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                        <!-- 2nd variable -->
                                        <section class="row">
                                            <label class="col-md-3">2nd VARIABLE<br><span class="comment">set a SPARQL variables</span></label>
                                            <section class="col-md-3">
                                                <label class="inner-label">SPARQL variable</label>
                                                <input type="text" id="y-var__$id" name="y-var__$id" value="$chart['y-axis'].split(',',1)[0]"/>
                                            </section>
                                            <section class="col-md-3">
                                                <label class="inner-label">Display name</label>
                                                <input type="text" id="y-name__$id" name="y-name__$id" value="$chart['y-axis'].split(',',1)[1]"/>
                                            </section>
                                            <section class="col-md-2 center-checkbox">
                                                <label class="inner-label">Sort by</label>
                                                <input type="checkbox" id="y-sort__$id" name="y-sort__$id" onclick="sortChart(this, '$id')"/>
                                            </section>
                                        </section>
                                    <!-- LEGEND -->
                                    <section class="row">
										$ legend = "checked=checked" if "legend" in chart and chart["legend"] == "True" else ""
										<label class="left col-md-11 col-sm-6" for="legend__$id">Show legend</label>
										<input $legend type="checkbox" id="legend__$id" name="legend__$id">
									</section>
                                    <!-- SCRIPT -->
                                    $if "sorted" in chart:
                                        <script type="text/javascript">
                                            $$("#$chart['sorted']-sort__$id").prop("checked", true);
                                        </script>
                                <!-- ARROW + DELETE BUTTONS -->
                                <a href="#" class="up"><i class="fas fa-arrow-up"></i></a> 
                                <a href="#" class="down"><i class="fas fa-arrow-down"></i></a>
                                <a href="#" class="preview"><i class="fas fa-eye"></i></a>
                                <a href="#" class="trash"><i class="far fa-trash-alt"></i></a>
                            </section>
                </section>
                <!-- Add Charts buttons -->
                <section class="add_fields homeheading col-md-12 col-lg-12 col-sm-12">
                    <a class="link_btn" onclick="addVisualization('counter')" name="add_counter">Add Counter</a>
                    <a class="link_btn" onclick="addVisualization('chart')" name="add_chart">Add Chart</a>
                    <a class="link_btn" onclick="addVisualization('map')" name="add_map">Add Map</a>
                </section>
            </section>
            <!-- Buttons section -->
            <section class="buttonsSection">
				<button id="updateTemplate" name="action" value="updateTemplate" class="btn btn-dark" type="submit">Save Charts</button>
				<button class="btn btn-dark delete_template" data-toggle="modal" data-target="#popup" name="action" value="deleteTemplate" type="submit" title="delete">Reset Charts <i class="far fa-trash-alt"></i></button>
			</section>
        </form>
    </section>
    <!-- Tips -->
    <section class="homeheading col-md-4 col-sm-4 col-lg-4">
		<p class="caption">Tips</p>
        <p>You can create your charts template for data visualization in few easy steps! Select the visualization type you prefer and provide some information to shape your data. Thanks to the preview function, you can check each visualization in advance.</p>
		<h5>Counter</h5>
        <p>Provide one or multiple SPARQL queries to get the count of meaningful entities collected within the Knowledge Graph. Each counter will include a label and the number of items retrieved by the query.</p>
        <h5>Charts</h5>
        <p>Shape your data by choosing your preferred visualization. Multiple solutions are available, each of them including the option for a values' legend:</p>
        <p><code>Bar Chart</code>: display your data into a bar chart. Provide a query for retrieving a categorical variable and a quantitative one. Each variable can be assigned either to X-axis or the Y-axis of the graph. Moreover, results can be sorted according to the values of an axis.</p>
        <p><code>Pie Chart</code>: display your data into a pie chart. Provide a query for retrieving a categorical variable to retrieve the number and the labels of the chart's slices, and a quantitative variable to determine the slices' sizes.</p>
        <p><code>Donut Chart</code>: display your data as a donut chart. Likewise pie charts, provide a SPARQL query for retrieving a categorical variable to retrieve the number and the labels of the chart's slices, and a quantitative variable to determine the slices' sizes. The donut range is set by default.</p>
        <p><code>Semi-circle Chart</code>:</p>
        <h5>Map</h5>
        <p>Maps allow to display data distribution and locations.</p>
        <p><code>Map</code>: this basic option allows displaying data on a map independently of their counts. A SPARQL query must be provided, allowing the system to retrieve a set of locations and their labels. Multiple occurrences will be ignored: no quantitative datum is available.</p>  
        <p><code>Drill-down Map</code>: this advanced option is based on quantitative analysis of described locations. Provide a SPARQL query to retrieve a set of geonames locations or geographic coordinates (i.e., latitude, longitude pairs).s</p>
	</section>
    <section style="display:none; width:90vw; position:absolute; height: 70vh; overflow:scroll; z-index: 3000;">
        <iframe src="/charts" style="width: 100vw;overflow: scroll;height: 100%;"></iframe>
    </section>
</section>