$def with(user,data,is_git_auth,project,main_lang)
$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var main_lang = main_lang

<section class="row articleBox">
	<section class="col-md-7">
		$for r in data:
			$ res_classes = r["res_class_label"]
			<h2 class="articleTitle">$r["res_name"]</h2>
			$for res_class in res_classes:
				$ title = res_class[1] if res_class[1] != res_class[0] else 'no title'
				<h3 class="articleSubtitle">CLASS: <span>$:title</span></h3>
				<p class="small"><a target='_blank' href="$res_class[0]">$res_class[0]</a></p>
			$for prop_label in r["props_labels"]:
				<section class="info-item">
					$ prop_title = prop_label[1]
					<h3 class="articleSubtitle">$:prop_title</h3>
					<p class="small"><a target='_blank' href="$:prop_label[0]">$prop_label[0]</a></p>
				</section>
	</section>
</section>
