$def with (user,is_git_auth,project,main_lang)

$var user = user
$var is_git_auth=is_git_auth
$var project = project
$var main_lang = main_lang

<section class="row articleBox">
	<section class="col-md-7 documentation" id="documentation">
		<h2 class="articleTitle">Documentation</h2>
		<h3 class="articleSubtitle">Before you start... </h3>
		<p>Thank you for contributing to $project!</p>

		<section class="articleSection">
			<h4>Guidelines for creating new records</h4>
			<section class="articleSubsection">
				<p>First, select a template from the list, which correspond to the types of resources that can be described in $project. Press <em>Save</em>.</p>
				<p>You can contribute to $project with any information you know, no need to fill in all fields, just pay attention to those fields that are flagged with a red *, which are mandatory.
					Once you submit a record, if you do not have an account, you'll not be allowed to modify it. But don't worry, our editorial board will review your suggestions before publishing the record.</p>
				<p><em>Please, use Chrome, Firefox or Safari!</em></p>
			</section>
		</section>
		<section class="articleSection">
			<h4>Tips: Autocompletion</h4>
			<section class="articleSubsection">
				<p>Some fields have autocomplete functionalities! You recognise them because they have an icon next to the field name.
					A dropdown pops up while typing, including best candidate matches with the term you typed (powered by Wikidata, VIAF and $project).</p>
				<img src="static/imgs/autocomplete.png" alt="screenshot entry form autocomplete"/>
				<p>If you found a match in the list, you can click on the icon to be redirected to the page of the term.
					To select a term from the list, click on the label, and it will appear below the text area.</p>
				<img src="static/imgs/matchfound.png" alt="match found in the list of suggestions"/>
				<p>If you don't find any term that matches your search, just click on return to add a new one to $project.
					It will appear below the text area.
					Other contributors will be able to use it in new records.</p>
				<img src="static/imgs/orangeList.png" alt="create a new term"/>
				<p>You can always remove values by clicking on the X.</p>
				<p>The same functionalities are also extended to the fields associated with SKOS vocabularies. A dropdown is displayed, including suggestions of terms gathered from the available SKOS vocabularies. A handy link to each vocabulary's web page allows you to preview the option.</p>
				<p><i class="fas fa-exclamation-circle"></i> <em>Suggestions are retrieved on-the-fly. The search starts on keyup (after few milliseconds) and can take few seconds if the connection is unstable (so be patient!).
					Secondly, results may reload slowly, meaning that refinements of the search might take time. If no relevant results are found at the first attempt, please try to remove the last character and re-type it.
					Lastly, when looking for two or more words (e.g. people names, place names, types of objects) be aware that you may have to try several combinations of words (e.g. <code>firstname+lastname</code> rather than <code>lastname+firstname</code>)</em>.</p>
			</section>
		</section>
		<section class="articleSection">
			<h4>Tips: Knowledge Extraction</h4>
			<section class="articleSubsection">
				<p>Some fields are not expected to be filled as usual. Instead, they provide an advanced functionality for extracting Key Entities from various sources.
					A dropdown allows you to select the option you prefer to run your query (a SPARQL endpoint, an API service, a static file).</p>
				<p><i class="fas fa-exclamation-circle"></i> <em>To properly use this Knowledge Extraction tool, you must always retrieve <code>uri</code>-<code>label</code> pairs. In case a URI is not available, you should use the <code>uri</code> variable to retrieve the best suited label for entity reconciliation. The system will automatically retrieve the best URI from the configured service.</em></p>
				<h3 class="articleSubtitle">API</h3>
				<p>Required parameters to send a query to an API service include:</p>
				<ul>
					<li>API access point (<em>mandatory</em>): the URL of the required service.</li>
					<li>Query parameters (<em>optional</em>): a set of key,value pairs providing query parameters. You can optional omit this information in case query parameters are encoded within the query URL.</li>
					<li>Result keys (<em>mandatory</em>): to properly handle retrieved results, you must provide the keys pointing to the desired values (a <code>uri</code> and its <uri>label</uri>) within the query output. Results are usually returned in the form of an array of objects. Consequently, three paths are needed to reach the array of results and to access URIs and labels. In case multiple keys should be accessed to retrieve a value, they must be separated by a dot. Example:
						<p>
							<code>array</code>,results.results<br>
							<code>uri</code>,uri<br>
							<code>label</code>,prefLabel<br>
						</p>
					</li>
				</ul>
				<h3 class="articleSubtitle">SPARQL</h3>
				<p>Required parameters to send a query to an API service include:</p>
				<ul>
					<li>SPARQL endpoint (<em>mandatory</em>): the URL of the required service.</li>
					<li>Query (<em>mandatory</em>): a SPARQL query to retrieve <code>?uri</code> and <code>?label</code>. Remember to include necessary prefixes at the beginning of the query. Example: <code>PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#&gt;</code></li>
				</ul>
				<h3 class="articleSubtitle">Static files</h3>
				<p>This option allows knowledge extraction from <code>.json</code>, <code>.csv</code>, and <code>.xml</code> files and provides two query methodes:</p>
				<ul>
					<li>Manual query: provide the URL of a compatible file. Its content will be parsed to extract <em>json keys</em>, <em>csv column labels</em>, or <em>xml tags</em>. You can use these outputs to retrieve meaningful entities. However, variables disambiguation is not available, so you should get labels and let the system automatically retrieve URIs.</li>
					<li>SPARQL query: provide the URL of a compatible file and a SPARQL query to retrieve <code>?uri</code> and <code>?label</code>. Please follow SPARQL Anything recomendations to properly interrogate different file formats.</li>
				</ul>
			</section>
		</section>

	</section>
</section>
