$def with(record_form,pageID,user,alert,limit,is_git_auth,invalid,project,template,query_templates,knowledge_extractor,main_lang,descriptions_dict,keywords_classes=None)
$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var main_lang = main_lang

$if alert == False:
	$if query_templates!=None:
		<script type="text/javascript">
			const query_templates_str = '$query_templates'.replace(/&#39;/g, '"');
			const query_templates = JSON.parse(query_templates_str);
		</script>
	$if keywords_classes!=None:
		<script type="text/javascript">
			const keywords_classes_str = '$keywords_classes'.replace(/&#39;/g, '"');
			const keywords_classes = JSON.parse(keywords_classes_str);
		</script>
	<header class="row needDoc">
		<button id="showRight"><i class="far fa-lightbulb"></i> help</button>
		<button id="saveForm" form="recordForm" type="submit"><i class="far fa-save"></i> save</button>
		$if template:
			<button id="scrollToTop"><i class="fas fa-arrow-up"></i> top</button>
		<script type="text/javascript">
			$$('#cbp-spmenu-s2').load( "./documentation #documentation", function() {
				setFormDocumentation();
			} );
			setTimeout( function(){ document.getElementById( "recordForm" ).reset(); }, 5 );
		</script>
		<script type="text/javascript">
			const templatesDescriptionString = '$descriptions_dict'.replace(/&#39;/g, '"');
			const templatesDescription = JSON.parse(templatesDescriptionString);
		</script>
		$if invalid == True:
			<h3>The form is not valid, please check mandatory fields</h3>
		$elif template:
			<h3 class="col-md-12 col-sm-12">$descriptions_dict[template]["name"]</h3>			
			<p class="col-md-12 col-sm-12">$descriptions_dict[template]["description"]</p>
		$else:
			<h3>Thanks for helping $project to grow!</h3>
	</header>
	<section class="corners row">
		<section class="col-md-12 col-lg-12 col-sm-12 homeheading">
			<h2>What did you find?</h2>
		</section>
		$ form_section_id = ""
		$if template:
			<section class="col-md-3 col-lg-3 col-sm-12 homeheading" id="table-of-contents">
				<section>
					<p class="caption">Table of contents</p>
					<ul class="fields-list"></ul>
				</section>
			</section>
			$ form_section_id += 'id=form-section'
		<section class="col-md-8 col-lg-8 col-sm-12 homeheading" $form_section_id>
			<form id="recordForm" class="col-md-12 col-sm-12 col-lg-12" action="" method="POST">
				<input type='hidden' name='recordID' value=$:pageID>
				$if template:
					<input type='hidden' name='templateID' value=$:template>
				<section class="row">
					<section class="col-md-12 col-lg-12 col-sm-12">
						$for idx,input in enumerate(record_form.inputs):
							$ id = input.get_default_id()
							$if type(input) == Checkbox:
								$if type(record_form.inputs[idx-1]) != Checkbox or record_form.inputs[idx-1].get_default_id().split("-")[0] != id.split("-")[0]:
									<section class=" form_row block_field">
										$:input.pre
										$ i = 0
										$ length_input_list = len(record_form.inputs)
										$while idx+i < length_input_list and type(record_form.inputs[idx+i]) == Checkbox and record_form.inputs[idx+i].get_default_id().split("-")[0] == id.split("-")[0]:
											<section class="col-md-12 col-sm-12 col-lg-12">
												$:record_form.inputs[idx+i].render()
												$:record_form.inputs[idx+i].description
											</section>
											$ i+=1	
											<script type="text/javascript">
												var elements = $$("[id='"+"$id".split('-')[0]+"']")[$i-1].attributes;
												var attrsToChange = [];
			
												$$.each(elements, function(index, attr) {
													if (attr.name.startsWith("data_")) {
														attrsToChange.push(attr);
													}
												});
												$$.each(attrsToChange, function(index, attr) {
													var newName = attr.name.replace("data_", "data-");
													$$("[id='"+"$id".split('-')[0]+"']").eq($i-1).attr(newName, attr.value);
													$$("[id='"+"$id".split('-')[0]+"']").eq($i-1).removeAttr(attr.name);
												});
											</script>
									</section>
							$else:
								<section class=" form_row block_field">
									<section class="label col-12">
										$:input.pre
										<span class="title">$:input.description</span>
									</section>
									<section class="col-md-12 col-sm-12 col-lg-12 input_or_select detect_web_page">
										$:input.render()
									</section>
									$if type(input) == Dropdown:
										<script type="text/javascript">
											$$('#$id').prepend($$('<option value="">Select from the list</option>'));
										</script>
								</section>
								<script type="text/javascript">
									var elements = $$('#$id')[0].attributes;
									var attrsToChange = [];

									$$.each(elements, function(index, attr) {
										if (attr.name.startsWith("data_")) {
											attrsToChange.push(attr);
										}
									});
									$$.each(attrsToChange, function(index, attr) {
										var newName = attr.name.replace("data_", "data-");
										$$('#$id').attr(newName, attr.value);
										$$('#$id').removeAttr(attr.name);
									});
								</script>
						$if type(knowledge_extractor) == type([]):
							$ extractors_template_ids = [tpl[0] for tpl in knowledge_extractor]
							$ extractors_names = [tpl[1] for tpl in knowledge_extractor]
							$ extractors_prepend = [tpl[2] for tpl in knowledge_extractor]
							$ extractors_id = [tpl[3] for tpl in knowledge_extractor]
							$ extractors_service = [tpl[4] for tpl in knowledge_extractor]
							$ extractors_subclass_restriction = [tpl[5] for tpl in knowledge_extractor]
							<script type="text/javascript">
								const extractionsObj = {}
								const extractorsArray = JSON.parse('$extractors_template_ids'.replace(/&#39;/g, '"'));
								const extractorsNames = JSON.parse('$extractors_names'.replace(/&#39;/g, '"'));
								const extractorsPrepend = JSON.parse('$extractors_prepend'.replace(/&#39;/g, '"'));
								const extractorsIds = JSON.parse('$extractors_id'.replace(/&#39;/g, '"'));
								const extractorsService = JSON.parse('$extractors_service'.replace(/&#39;/g, '"'));
								const extractorsRestriction = JSON.parse('$extractors_subclass_restriction'.replace(/&#39;/g, '"'));
								if (extractorsArray.includes('$template')) {
									generateExtractionField('$template','$pageID');
								}
								var parsedFile;
							</script>
					</section>
				</section>
				<section class="buttonsSection">
					<input id="save_record" class="btn btn-dark" type="submit" value="Save"/>
				</section>
			</form>
		</section>
		<section id="searchresult">
		</section>
		$if not template:
			<section class="col-lg-3 col-md-3 col-12" id="templates-description">
			</section>
	</section>
	<link rel="stylesheet" type="text/css" href="./static/css/yasgui.css">
	<script src='static/js/yasr.bundled.min.js'></script>
	<script src='static/js/yasqe.bundled.min.js'></script>
	<script src="static/js/sparql.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <script type="text/javascript">
		// alert when mouse leave page to save
    function addEvent(obj, evt, fn) {
        if (obj.addEventListener) {
            obj.addEventListener(evt, fn, false);
        }
        else if (obj.attachEvent) {
            obj.attachEvent("on" + evt, fn);
        }
    };

    addEvent(document, "mouseout", function(e) {
        e = e ? e : window.event;
        var from = e.relatedTarget || e.toElement;
        if (!from || from.nodeName == "HTML") {
            // stop your drag event here
            // for now we can just use an alert
            alert("Please, remember to save before leaving the page");
        }
    });
	</script> -->
$else:
	<header class="row needDoc">
		<h3>You already proposed $limit new resources today! Please come back tomorrow</h3>
	</header>
