$def with (user,label,count,is_git_auth,project,base,uri,name,results,map,main_lang)

$var user = user
$var is_git_auth = is_git_auth
$var project = project
$var main_lang = main_lang


<!-- Resources -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<section class="row articleBox">
	<section class="col-md-7">
		$if label:
			<h2 class="articleTitle">$label</h2>
			$if uri == base + name:
				<section class="info-item">
					<h3 class="articleSubtitle">View </h3><a href="view-$name">record</a>
				</section>
			$else:
				<section class="info-item">
					<h3 class="articleSubtitle">View </h3><a href="$uri">link</a>
				</section>
			<section class="info-item">
				$ s = 's' if count > 1 else ''
				<h3 class="articleSubtitle">Appears in $count resource$s</h3>
				$for res_class in results:
					<section class="related-resources-container">
						$ res_class_count = len(results[res_class]['results'])
						<h4 class="articleSubtitle">$res_class ($res_class_count)</h4>
						<button class="showRes" data-count="$res_class_count" data-offset="0" data-limit="10" data-uri="$uri" data-class="$results[res_class]['class']">show</button><br>
						<section class="related-resources">
						
						</section>
					</section>
			</section>
			$if map:
				<section class="info-item">
					<h3 class="articleSubtitle">Map</h3>
					<div id="map" style="height: 500px;"></div>
					<script>
						var map = L.map('map').setView([$map[0], $map[1]], 10);
						L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
							attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
						}).addTo(map);

						// Aggiungi un marker al punto specificato
						var marker = L.marker([$map[0], $map[1]]).addTo(map); // Cambia le coordinate con quelle desiderate

						// Aggiungi un popup al marker
						marker.bindPopup("<b>$label</b>").openPopup();
					</script>
				</section>


			<hr/>
			<section class="info-item">
				<h3 class="articleSubtitle">URI</h3>
				<span class="small">$uri</span>
				<p></p>
			</section>
		$else:
			<h2>ooops, we don't have a page for this yet.</h2>
	</section>

</section>
