$def with (user, data, count,is_git_auth,project,base,uri,name,results)

$var user = user
$var is_git_auth = is_git_auth
$var project = project

<section class="row articleBox">
	<section class="col-md-7">
		$if data:
			<h2 class="articleTitle">$next((result["object"]["value"] for result in data["results"]["bindings"] if result["predicate"]["value"] == "http://www.w3.org/2000/01/rdf-schema#label"), "No label")</h2>
			$if uri == base + name:
				<section class="info-item">
					<h3 class="articleSubtitle">View </h3><a href="view-$name">record</a>
				</section>
			$else:
				<section class="info-item">
					<h3 class="articleSubtitle">View </h3><a href="$uri">link</a>
				</section>
			<section class="info-item">
				$ s = 's' if count > 1 else ''
				<h3 class="articleSubtitle">Appears in $count resource$s</h3>
				$for res_class in results:
					<section class="related-resources-container">
						$ res_class_count = len(results[res_class]['results'])
						<h4 class="articleSubtitle">$res_class ($res_class_count)</h4>
						<button class="showRes" data-count="$res_class_count" data-offset="0" data-limit="10" data-uri="$uri" data-class="$results[res_class]['class']">show</button><br>
						<section class="related-resources">
						
						</section>
					</section>
			</section>


			<hr/>
			<section class="info-item">
				<h3 class="articleSubtitle">URI</h3>
				<span class="small">$uri</span>
				<p></p>
			</section>
		$else:
			<h2>ooops, we don't have a page for this yet.</h2>
	</section>

</section>
