$def with (user, graphdata, graphID, title, stage, base,properties,is_git_auth,project,knowledge_extractor,inverses_by_class,main_lang)
$var user = user
$var records = '' #modify 
$var is_git_auth = is_git_auth
$var project = project
$var main_lang = main_lang

<section class="row articleBox" vocab="https://schema.org/" typeof="Thing">
	<section class="col-md-8 row">
			<h2 class="articleTitle col-md-12" property="name" xml:lang="$title[1]">$title[0]
			$if 'modified' in stage:
				<span>draft</span>
			</h2>
			$for field,value in graphdata.items():
				$ width_class = "col-md-12" if properties[field][1]=="WebsitePreview" else "col-md-5 col-sm-12" if (value and len(value[0]) <= 100) else 'col-md-12'
				$ width_class += properties[field][2]
				<section class="info-item $width_class">
						$if isinstance(value[0],str):
							<h3 class="articleSubtitle">$field </h3>
							$if properties[field][1]=="Date" and (value[0].startswith("-") or len(value[0]) == 4):
								$ value = value[0].replace("-", "") + " B.C." if value[0].startswith("-") else value[0].lstrip('0')
							$else:
								$ value = value[0]
							<p property="$properties[field][0]">$value</p>
						$elif isinstance(value[0],tuple):
							<h3 class="articleSubtitle">$field </h3>
							$for literal in value:
								<p property="$properties[field][0]" xml:lang="$literal[1]">$literal[0]</p>
						$else:
							$if len(value[0][1]) > 0:
								<h3 class="articleSubtitle">$field </h3>
								$for uri_value in value:
									$if uri_value[0].startswith('Q'):
										<!-- wikidata uri -->
										<p property="$properties[field][0]">
											<link property="sameAs" url="http://www.wikidata.org/entity/$uri_value[0]"/>
											<a class="wikiEntity" target='_blank' href="term?id=$uri_value[0]">
												$uri_value[1]
											</a>
										</p>
									$elif isnumeric(uri_value[0]):
										<!-- geonames uri -->
										<p property="$properties[field][0]">
											<link property="sameAs" url="https://sws.geonames.org/$uri_value[0]"/>
											<a class="geoEntity" target='_blank' href="term?id=$uri_value[0]">
												$uri_value[1]
											</a>
										</p>
									$elif uri_value[0].startswith("viaf"):
										<!-- viaf uri -->
										<p property="$properties[field][0]">
											<link property="sameAs" url="http://www.viaf.org/viaf/$uri_value[0][4:]"/>
											<a class="viafEntity" target='_blank'\
											 href="term?id=viaf$uri_value[0][4:]">
												$uri_value[1]
											</a>
										</p>
									$elif uri_value[0].startswith("orcid"):
										<!-- orcid uri -->
										<p property="$properties[field][0]">
											<link property="sameAs" url="https://orcid.org/$uri_value[0][5:]"/>
											<a class="orcidEntity" target='_blank'\
											 href="term?id=orcid$uri_value[0][5:]">
												$uri_value[1]
											</a>
										</p>
									$else:
										$if 'http' in uri_value[0]:
											<!-- external uri or external vocabulary terms -->
											$ here = uri_value[1] if (uri_value[0] != uri_value[1] or (uri_value[0] == uri_value[1] and len(uri_value[0]) <= 30) ) else "link"
											<p property="$properties[field][0]">
												$if properties[field][1] == 'Multimedia':
													<!-- multimedia -->
													$ format = uri_value[1].split(".")[-1]
													$if format in ["jpg","jpeg","png","gif","bmp","svg","tiff","ico"]:  
														<link property="url" url="$uri_value[0]"/>
														<img src='$uri_value[0]'>
													$elif format in ["mp3","wav","flac","aac","ogg","wma","m4a","aiff","alac","ape","dts","mid","midi"]:
														<audio controls><source src='$uri_value[0]''></source></audio>
													$elif format in ["mp4","mov","avi","mkv","flv","wmv","webm","mpeg","mpg","3gp","rm","rmvb","vob","ts"]:
														<video controls name='media'><source src='$uri_value[0]'></source></video>
												$elif properties[field][1] == 'WebsitePreview':
													<!-- website previews (iframe) -->
													<link property="url" url="$uri_value[0]"/>
													<a target='_blank' href="$uri_value[0]">$here</a>
													$if properties[field][1] == "WebsitePreview":
														<iframe allow='autoplay' class='col-md-11 iframePreview' src='$uri_value[0]' crossorigin></iframe>
												$elif properties[field][1] == 'Vocab':
													$ val = " - ".join(uri_value[1].split(" - ")[:-1])
													<!-- skos Vocable -->
													<link property="sameAs" url="$uri_value[0]"/>
													<a class="skosEntity" target='_blank' href="term?id=$uri_value[0]">
														$val
													</a>
												$else:
													<!-- urls -->
													$if properties[field][3] != "URL":
														<link property="url" url="$uri_value[0]"/>
														<a target='_blank' href="term?id=$uri_value[0]">
															$here
														</a>
													$else:
														<link property="url" url="$uri_value[0]"/>
														<a target='_blank' href="$uri_value[0]">
															$here
														</a>
											</p>
										$else:
											<!-- local resource -->
											<p property="$properties[field][0]">
												<link property="url" url="$base$uri_value[0]"/>
												<a target='_blank' href="term?id=$uri_value[0]">$uri_value[1]</a>
											</p>
					</section>
			$if graphID in knowledge_extractor and len(knowledge_extractor[graphID]) > 0:
				$for field in knowledge_extractor[graphID]:
					$if len(knowledge_extractor[graphID][field]) > 0:
						<section class="circles row">
                            <section class="info-graphic col-md-4"><i class="fas fa-quote-left"></i><p>$knowledge_extractor[graphID+'_view']['field_name'] </p></section>
                            <section class="info-graphic-items col-md-8">
								$for n in range(len(knowledge_extractor[graphID][field])):
									$ keyword_class = knowledge_extractor[graphID][field][n]["metadata"]["class"]
									$for extracted_keyword in knowledge_extractor[graphID][field][n]["metadata"]["output"]:
										<span class="box-small" property="$knowledge_extractor[graphID+'_view']['property']">
											$ label = keyword_class["label"] if "label" in keyword_class else ""
											<link property="sameAs" url="$extracted_keyword['uri']['value']"/>
											<a class="uri" data-class="$label" target='_blank' href="term?id=$extracted_keyword['uri']['value']">
												$extracted_keyword['label']['value']
											</a>
										</span>
							</section>
						</section>
			<section class="info-item col-md-5 col-sm-12 keywords">
				<script type="text/javascript">
					loadKeywords("$base$graphID","https://schema.org/keywords")
				</script>
			</section>
	</section>
	<section class="col-md-4 sideBoxes">
		<section class="biblio light">
			<h3 class="biblio-label">Permalink</h3>
				<p>$base$graphID</p>
		</section>
		<section class="biblio">
			<h3 class="biblio-label">Would you like to modify this record?</h3>
				<p>If you already have an account on $project</p>
				<button type="button" class="btn btn-dark" name="button" onclick="window.location.href='modify-$graphID'">Click here</button>
		</section>
		<section class="biblio primary">
			<h3 class="biblio-label">Download the graph</h3>
			<p>
				<button type="button" class="btn btn-dark" name="button" onclick="window.location.href='serialization?format=ttl&id=$graphID'">Turtle</button>
				<button type="button" class="btn btn-dark" name="button" onclick="window.location.href='serialization?format=rdf&id=$graphID'">RDF/XML</button>
				<button type="button" class="btn btn-dark" name="button" onclick="window.location.href='serialization?format=jsonld&id=$graphID'">JSON-LD</button>
				<!-- <a href="serialization?format=ttl&id=$graphID" target="_blank"><img src="https://img.shields.io/badge/Format-TTL-blue.svg" alt="TTL"></a>
				<a href="serialization?format=rdf&id=$graphID" target="_blank"><img src="https://img.shields.io/badge/Format-RDF/XML-blue.svg" alt="RDF/XML"></a>
				<a href="serialization?format=jsonld&id=$graphID" target="_blank"><img src="https://img.shields.io/badge/Format-JSON_LD-blue.svg" alt="JSON-LD"></a>
				 -->
			</p>
		</section>
		
	</section>
	<hr/>
	<!-- <section class="info-item">
		<h3 class="articleSubtitle">URI</h3>
		<span class="small"></span>
		<p></p>
	</section> -->

</section>
$if inverses_by_class != {}:
	<section class="col-md-12 inverses">
		<section class="biblio">
			<h3 class="biblio-label">Inverse relations</h3>
			<section class="inverse-section" id="inverse-section-template" style="display: block;">
				$for res_type in inverses_by_class:
					<section class="inverse-template">
						<span class="inverse-subtitle">$res_type</span>
						<br>
						<section class="inverse-results-container">
						$for property,results in inverses_by_class[res_type]['results'].items():
							$ property_url, property_label = property.split(',',2)
							<section class="inverse-property">
								<span>
									<h3 class="articleSubtitle"><span class="tip" data-toggle="tooltip" data-placement="bottom" title="$property_url"><i class="fas fa-info-circle"></i></span> $property_label</h3>
								</span>
							</section>
							<section class="inverse-property">
								$for result in set(results):
									$ result_uri, result_label = result.split(',',1)
									<span><label>$result_label</label> <a href="$result_uri"><i class="fas fa-external-link-alt"></i></a></span><br>
							</section>
						</section>
					</section>
			</section>
		</section>
	</section>
